.burger-menu {
    display: none;

    @media screen and (max-width: 375px) {
        display: block;
    }
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}
  /* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 75px;
    right: 20px;
    width: 33px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}
  /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 812px;
    margin: 0;
    padding: 40px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    &-lang {
        position: fixed;
        visibility: hidden;
        bottom: 160px;
        right: 0;
        width: 80px;
        transform: rotate(90deg);
        padding: 0px 0 0;
        margin-bottom: 50px;
    }
}

  /* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #828282;
    font-size: 34px;
    font-weight: 600;
    text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #828282;
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #828282;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

#menu__toggle:checked ~ .menu__box-lang {
    visibility: visible;
    right: 0;
}